[Desktop Entry]
Name=Hibiki
Comment=Elevating the tactile dialogue. A high-fidelity visual and auditory companion that gives your keystrokes a modern resonance.
Exec=hibiki
Icon=hibiki
Type=Application
Categories=Utility;
